# Default values for helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: europe-west3-docker.pkg.dev/devops-kuber-2023/default-repo
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v1.0.3-97a5c20"
  os: linux
  arch: amd64

secret:
  name: "kbot"
  env: "TELE_TOKEN"
  key: "token"